h1 {
    text-align: center;
    color: navy;
	margin-top: 100px;       
}
table {
	width: 40%;
	background-color: blue;
	border-radius: 4px;
}
.displ {
	width: 87%;
	border-radius: 4px;
    background-color: grey;
    color: white;
    padding: 15px 30px;
    text-align: left;
    display: block;
    margin: 4px 2px;
    cursor: text;
}
.button {
	width: 100%;
	border-radius: 4px;
    background-color: rgb(80,10,10);
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
    margin-top: 30px;
}
